<h2>➕ Thêm sản phẩm</h2>

<form method="post" action="/add" enctype="multipart/form-data">
    <input name="name" placeholder="Tên" required><br>
    <input name="price" type="number" placeholder="Giá" required><br>
    <input name="quantity" type="number" placeholder="Số lượng" required><br>
    <input type="file" name="image" required><br>
    <button type="submit">Lưu</button>
</form>

<a href="/">⬅️ Quay lại</a>
