<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen p-10">
<h1>403 - Không có quyền</h1>
<a href="/dashboard">Quay lại</a>

</body>

</html>